@media (min-width: 768px) {
    .room-description {
        display: flex;
        padding: 3rem;
        border: 1px solid black;
        margin: 3rem;
        gap: 2rem;
        justify-content: space-between;
    }
}
